
html {
    scroll-behavior: smooth;
    
}

body {
    background-image: linear-gradient(to right,#212121,#3a3a3a);
    margin-left: auto !important;
    margin-right: auto !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

nav {
    width: 50%;
    margin: auto !important;
    border: white solid 2px;
    border-radius: 15px;
    background-image: linear-gradient(to right, black, #007bff);
}

main {
    width: 80%;
    margin-top: 140px;
    margin-left: auto !important;
    margin-right: auto !important;
    color: #3DB2FF;
}

@media only screen and (max-width: 1400px) {

    
    
    main {
        width: 70%;
    }
}

@media only screen and (max-width: 1200px) {

    .navbar {
        width: 100% !important;
    }
    
}


@media only screen and (max-width: 700px) {

    header {
        width: 100%;
    }
    main {
        width: 80%;
    }
    .fixed-top {
        width: 100% !important;
    }

}

@media only screen and (max-width: 570px) {

    .navbar {
        width: 100% !important;
    }

    
}

@media only screen and (max-width: 400px) {

    
    
    main {
        width: 98%;
        
    }
    .fixed-top {
        width: 100% !important;
        margin-bottom: 150px !important;
    }
}

h2 {
    margin-bottom: 40px !important;
}

.blue {
    color: #3DB2FF;
}

.navbar {
    display: flex !important;
    justify-content: space-between !important;
    margin-bottom: 15px;
}

#hlavninadpis {
    width: 30%;
    margin: auto;
    text-align: center;
    transform: translateY(200%);
    border-radius: 10px;
    border: #3a3a3a 3px solid;
    background-color: rgb(15, 84, 187);
    font-size: 50px;
    color: white;
    transition: 0.3s ease-in-out;
}

#hlavninadpis:hover {
    background-color: white;
    color: rgb(15, 84, 187);
    transition: 0.3s ease-in-out;
}


.image {
    width: 80%;
    min-width: 200px;
    border: solid whitesmoke 2px !important;
    border-radius: 20px;
    opacity: 0.2;
    transition: 0.5s;
    text-align: center;
    filter: grayscale();
    margin-bottom: 8%;
}

.image:hover {
    opacity: 1 !important;
    border-radius: 20px;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0.5, 0.6, 0.4);
    border: solid #3DB2FF 3px !important;
    scale: 1.15;
    filter: none !important;
}

#logo {
    width: 50px;
    margin-left: 0;
}

.flex-box {
    margin: auto !important;
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;

    flex-wrap: wrap;
    flex-direction: row;
    
}

.item {
    margin-bottom: 5px;
    color: #3db1f000;
    transition: 1s;
}

.flex-boximage:hover .item {
    color: #3DB2FF !important;
    transition: 1s;
    /*margin-top: 50px !important;*/
}

.tlacitko:hover .item {
    color: #3DB2FF;
    transition: 1s;
    
    
}

.tlacitko {
    text-align: right;
    margin-bottom: 30px;
    margin-top: 30px;
}

button {
    background:rgb(10, 145, 255);
    color: whitesmoke;
    border: white 2px solid;
    padding: 20px;
    transition: 1s;
    border-radius: 5px !important;
    transition: 1s;
    
}

button:hover {
    transition: 1s;
    background-color: rgb(14, 76, 112);
}

button:active {
    background-color: rgb(73, 73, 73);
    transform:rotateY(180deg);
}

.show {
    color: #3DB2FF;
    transition: 1s;
}

#prvnirocnik {
    background-color: rgba(245, 245, 245, 0.034);
    border-radius: 20px;
    padding: 5%;
}

.fixed-top {
    width: 48%;
    margin: auto;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: whitesmoke 1px solid;
    border-top: none;
}

.container-fluid {
    background-color: #3DB2FF;
}

footer {
    position: relative;
    bottom: 0%;
    
}

.flexbox-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly !important;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

.footer-item {
    color: whitesmoke;
    padding-left: 100px !important;
    padding-right: 100px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.fa-github {
    color: black;
    transition: 0.5s;
}

.fa-github:hover {
    color: white;
    transition: 0.5s;
}

nav {
    background-image: linear-gradient(to right, black, #007bff);
}

.predmet {
    font-size: 25px;
    margin-bottom: 40px;
    
}

#software {
    background-color: rgba(245, 245, 245, 0.034);
    border-radius: 20px;
    padding: 5%;
    margin-top: 10px;
}

.imagesw {
    width: 70%;
    height: 90%;
    min-width: 200px;
    border-radius: 20px;
    opacity: 0.2;
    transition: 0.5s;
    text-align: center;
}

.imagesw:hover {
    transition: 0.5s;
    opacity: 1;
    
}

.itemsw {
    margin-bottom: 5px;
    color: #3db1f000;
    transition: 0.5s;
}

.flex-boximage:hover .itemsw {
    color: #3DB2FF ;
    transition: 0.5s;
}

#odkazy {
    background-color: rgba(245, 245, 245, 0.034);
    border-radius: 20px;
    padding: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#mimoskolprojekty {
    background-color: rgba(245, 245, 245, 0.034);
    border-radius: 20px;
    padding: 5%;

    margin-bottom: 10px;
}

.disapear {
    animation: zmizeni 0.5s ease-in-out;
}


@keyframes zmizeni {
    from {background-color: rgb(15, 84, 187);
        color: white;
    }
    to {background-color: transparent;
        color: transparent;
    }
}
